template_path: "{{ haya_monitoring_prometheus_tg_bot_config_path }}/telegram-bot.tmpl"
telegram_token: "{{ haya_monitoring_prometheus_tg_bot_token }}"
time_outdata: "02/01/2006 15:04:05"
time_zone: "Europe/Moscow"
